# Clerk configuration, get this key from your [Dashboard](dashboard.clerk.com)
VITE_CLERK_PUBLISHABLE_KEY=pk_test_a2V5LXNwYXJyb3ctMjcuY2xlcmsuYWNjb3VudHMuZGV2JA
CLERK_SECRET_KEY=PASTE_CLIENT_SECRET_KEY_HERE
VITE_BASE_URL=http://localhost:3000
DATABASE_URL=postgresql://postgres:password@localhost:5432/deeporigin_dev