node_modules
.DS_Store
dist
dist-ssr
*.local
count.txt
.env
.nitro
.tanstack
.wrangler
.output
.vinxi
todos.json
.vercel

# Playwright test results (should be in e2e/ but just in case)
test-results
playwright-report
